.CreateAccount{
    position: fixed;
    bottom: 10px;
    left: 10px;
    text-decoration: none;
    background: #4c4c4c;
    padding: 10px;
    color: white;
}
.Loggin{
    position: fixed;
    bottom: 10px;
    right: 10px; 
    text-decoration: none;
    background: #4c4c4c;
    padding: 10px;
    color: white;
}