.Panel{
    width: 100%;
    position: fixed;
    height: 10vh;
    background: #fafafa;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInUp;
    animation-duration: 1s;
    z-index: 100;
    border-top: 1px solid hsla(0, 0%, 30%, 0.1);
}

.Panel ul{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.Panel li{
    list-style: none;
    height: 50px;
    width: 100px;
    transition: all .5s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.Panel ul li a{
    color: #4c4c4c;
    text-decoration: none;
    font-weight: bold;
}
.showPanelBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    height: 60px;
    width: 180px;
    bottom: 15px;
    left: 20px;
    border: none;
    background: #4c4c4c;
    color: #ffffff;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    transform: translate3d(-90%,0,0) translate3d(1rem,0,0);
    transition: transform 0.3s;
}
.showPanelBtn:hover{
    transform: translate3d(-20%,0,0) translate3d(1rem,0,0);
    transition: transform 0.3s;
}
.MessageCount{
    background: #4caf50;
    color: #FFFFFF;
    border-radius: 25%;
    padding: 5px 6px;
    font-size: 11px;
}
@keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}

@media only screen and (max-width: 768px) {
    .Panel{
        height: 20vh;
    }
    .Panel ul{
        height: 20vh;
        flex-wrap: wrap;
    }
    .Panel ul li{
        width: 30%;
    }
}

@media only screen and (max-width: 420px) {
    .Panel ul li{
        font-size: 11px;
    }
    .Panel ul li a{
        font-size: 11px;
    }
}@media only screen and (max-width: 420px) {
    .Panel ul li{
        font-size: 11px;
    }
    .Panel ul li a{
        font-size: 11px;
    }
}