.UserAuctionsList{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(250, 250, 250);
    z-index: 102;
    padding: 15px;
    box-sizing: border-box;
    overflow-x: scroll;
    animation: zoomIn;
    animation-duration: .5s;
    overflow-x: auto;
}

.UserAuctionsList header{
    font-weight: 300;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.UserAuctionsList header input{
    border-radius: 1px;
    border: none;
    font-size: 12px;
    outline: none;
    color: #4c4c4c;
    border-bottom: 1px solid hsla(0, 0%, 30%, 0.1);
    padding: 10px;
    cursor: pointer;
}

.UserAuctionsList h3{
    font-weight: 300;
    text-align: center;
    padding: 10px;
}

.AuctionBox{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.AuctionDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.AuctionDetails button{
    cursor: pointer;
    color: #FFFFFF;
    outline: none;
    padding: 10px 35px;
    border-radius: 3px;
    border: none;
    font-size: 12px;
    margin: 5px;
    background: #4c4c4c;
    transition: .25s all ease-in-out;
}
.AuctionDetails button:hover{
    background: #F44336;
}

.DisplayUserAuction{
    max-width: 80%;
    height: 200px;
    border: 1px solid hsla(0, 0%, 30%, 0.1);
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    transition: .1s all ease-in-out;
}

.ImgContainer {
    width: auto;
    height: auto;
}
.ImgContainer img{
    max-width: 100px;
    max-height: 100px;
}

.Backdrop{
    z-index: 1;
    background-color: rgba(250, 250, 250, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.EditProductModal{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 50%;
    height: 100vh;
    background-color: rgba(250, 250, 250);
    display: flex;
    flex-direction: column;
    animation: opacity;
    animation-duration: 1s;
    box-shadow: 0px 0px 10px #4c4c4c;
    padding: 15px;
}
.EditProductModal h1{
    font-weight: 300;
    font-size: 25px;
    color: #4c4c4c;
    padding: 10px;
    text-align: center;
}
.EditProductModal label{
    font-size: 12px;
    text-transform: uppercase;
    color: #4c4c4c;
    text-align: center;
    padding: 15px;
}
.EditProductModal input{
    border: none;
    border: 1px solid hsla(0, 0%, 30%, 0.1);
    height: 40px;
    font-size: 18px;
    outline: none;
    box-sizing: border-box;
    margin: 5px;
    padding-left: 10px;
}
.DeleteAuctionModal button{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: none;
    color: #4c4c4c;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    z-index: 200;
    font-size: 35px;
    transition: .25s all ease-in-out;
}
.DeleteAuctionModal button:hover{
    color: #F44336;
}
.EditButton{
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
    background: #4caf50;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid hsla(0, 0%, 30%, 0.1);
}
@media only screen and (max-width: 768px) {
    .AuctionBox{
        flex-direction: column;
    }
    .DisplayUserAuction{
        height: auto;
    }
    .ImgContainer{
        margin: 0 auto;
    }
    .EditProductModal{
        width: 70%;
    }
}


@keyframes opacity{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
}
