.RegisterModule{
    display: flex;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 106;
    background: #e2e2e2;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    animation: fadeInDown;
    animation-duration: 1s;
}

.InformationBox{
    flex: 1;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.InformationBox div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}
.InformationBox div h1{
    color: #4c4c4c;
    margin: 10px;
}
.InformationBox p{
    font-size: 15px;
    color: #4c4c4c;
    text-align: center;
    width: 80%;
}

.Register{
    height: 100vh;
    background: #FFFFFF;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px;
    flex: 1;
}
.Register form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    justify-content: space-between;
}

.Register button{
    width: 80%;
    background: #4caf50;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    font-weight: 400;
}

.Register input{
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 15px;
    width: 80%;
    height: 40px;
    border-radius: 3px;
    outline: none;
    border: 1px solid rgb(128, 128, 128, .5);
    transition: all .5s ease-in-out;
}
.Register input:focus{
    background: rgb(76, 175, 80, .1);
}

.Register label {
    font-size: 25px;
    font-weight: 300;
    color: #4c4c4c;
}

.Register h3{
    text-align: center;
    width: 100%;
    height: 35px;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
}

.Backdrop{
    width: 100%;
    height: 100vh;
    z-index: 104;
    background: rgb(76, 76, 76, .5);
    position: fixed;
    top: 0;
    left: 0;
}

.CloseRegisterModuleBtn{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: none;
    color: #4c4c4c;
    font-size: 15px;
    outline: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .RegisterModule{
        flex-direction: column;
    }
    .Register{
        width: 100%;
    }
    .Register form{
        height: 100%;
    }
    .InformationBox p{
        font-size: 12px;
    }
}


@keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }