.RegisterModule{
    top: 0px;
    left: 0px;
    background: #FFFFFF;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    z-index: 105;
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 3px #4c4c4c;
    padding: 15px;
    border-radius: 3px;
    
}
.RegisterModule form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    justify-content: space-between;
}

.RegisterModule button{
    width: 80%;
    background: #4c4c4c;
    border: none;
    outline: none;
    padding: 15px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    margin-top: 20px;
}

.RegisterModule input{
    width: 80%;
    height: 30px;
    outline: none;
}

.RegisterModule label {
    font-size: 12px;
}

.RegisterModule h3{
    text-align: center;
    width: 100%;
    height: 35px;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
}

.Backdrop{
    width: 100%;
    height: 100vh;
    z-index: 104;
    background: rgb(76, 76, 76, .5);
    position: fixed;
    top: 0;
    left: 0;
}
