.Orders{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(250, 250, 250);
    z-index: 102;
    padding: 40px;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: zoomIn;
    animation-duration: .5s;
}
.Orders header{
    font-weight: 300;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.Orders section{
    flex: 1;
    width: 100%;
    border: 1px solid hsla(0, 0%, 30%, 0.1);
    border-radius: 3px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}

.UserOrderBox{
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.UserOrderBox .BackBtn{
    position: fixed;
    top: 0;
    left: 0;
    font-weight: 300;
    color: #4c4c4c;
    background: none;
    border: none;
    padding: 25px;
    font-size: 25px;
    cursor: pointer;
    outline: none;
}

.UserOrderBox i{
    position: fixed;
    top: 28px;
    right: 35px;
    font-size: 25px;
    cursor: pointer;
}
.UserOrder{
    border: 1px solid hsla(0, 0%, 30%, 0.1);
    background-color: #FFFFFF;
    margin: 10px;
    width: 80%;
    height: auto;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    align-items: center;
    animation: zoomIn; 
    animation-duration: .75s;
}
.UserOrder h4{
    width: 100%;
}
.SendStatusModal{
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(250, 250, 250, .5);
    animation: openmodal;
    animation-duration: 1.25s;
}

.SendStatusModal button{
    background: none;
    color: #4c4c4c;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 200;
    font-size: 35px;
    animation: openmodal;
    animation-duration: 1.25s;
}

.UserOrder img{
    max-width: 50px;
}

.Search{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #e2e2e2;
    padding: 15px;
    animation: fadeInDown;
    animation-duration: .7s;
}
.Search input{
    border: none;
    height: 40px;
    width: 95%;
    font-size: 20px;
    background: #e2e2e2;
    outline: none;
    margin-left: 18px;
    text-align: center;
    animation: fadeInDown;
    animation-duration: .9s;
}
.Search i{
    font-size: 25px;
    cursor: pointer;
}

.PaymentOptions{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 50%;
    height: 100vh;
    background: rgb(250, 250, 250);
    box-shadow: 0px 0px 10px #4c4c4c;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-duration: 1s;
    padding: 15px;
    animation: openmodal;
    animation-duration: 1s;
}
.PaymentOptions h4{
    font-weight: 400;
    color: #4c4c4c;
    padding: 10px;
    text-align: center;
}

.PaymentOptions h5{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 80%;
    border: 1px solid hsla(0, 0%, 30%, 0.1);
    padding: 10px;
    animation: fadeInDown;
    animation-duration: .65s;
    margin: 10px;
}
.PaymentOptions button{
    font-size: 12px;
    width: 100%;
    padding: 5px;
    background: none;
    border: none;
    outline: none;
    color: #4c4c4c;
    cursor: pointer;
}

.UserOrder button{
    width: auto;
    color: #4c4c4c;
    font-size: 14px;
    margin: 5px;
    border: none;
    transition: .5s all ease-in-out;
    outline: none;
    cursor: pointer;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
}

.UserOrder button:hover{
    color: #4caf50;
}

.UserOrder h4{
    font-weight: 400;
}

.UserOrder span{
    margin-bottom: 5px;
    text-align: center;
}

.Backdrop{
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(250, 250, 250, 0.5);
}

.showStatusInformationBox{
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 15px;
    background: rgba(250, 250, 250);
    box-shadow: 0px 0px 10px #4c4c4c;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    animation: openmodal;
    animation-duration: .8s;
}

.showStatusInformationBox div{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border: 1px solid hsla(0, 0%, 30%, 0.1);
    width: 90%;
    margin: 5px;
    cursor: pointer;
    border-radius: 3px;
    animation: fadeInDown;
    animation-duration: .75s;
}
.showStatusInformationBox span{
    padding: 3px;
}

.sendBoxStatus{
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: #fafafa;
    border-top: 1px solid #ededed;
}
.sendBoxStatus h1{
    padding: 20px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.CheckStatusBtn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: none;
    outline: none;
    font-size: 20px;
    background: none;
    cursor: pointer;
    color: #4c4c4c;
}

.PaymentTable{
    border: 1px solid hsla(0, 0%, 30%, 0.1);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 80%;
    animation: fadeInDown;
    animation-duration: .85s;
}

@keyframes openmodal{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }