.SuccessModal{
        position: fixed;
        left: 61px;
        top: 64px;
        width: 15px;
        height: 15px;
        background: #ccc;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: inherit;
        color: #4c4c4c;
        z-index: 101;
        animation: openmodal;
        animation-duration: 1.5s;
}
@keyframes openmodal{
        from{opacity: 0;}
        to{opacity: 1;}
}