.LastAddedProductContainer{
    width: 100%;
    height: 50vh;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 100px 0px;
    border-top: 1px solid hsla(0, 0%, 30%, 0.1);
}
.LastAddedProductContainer h1{
    text-align: center;
    font-weight: 300;
    color: #4c4c4c;
    padding: 15px;
}

.productContainer{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    
}

.productDisplay{
    background: #fafafa;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px solid hsla(0, 0%, 30%, 0.1);
    animation: openmodal;
    animation-duration: 1.1s;
}
.productDisplay img{
    max-width: 100px;
    height: 100px;
}
.productDisplay h4{
    margin: 5px;
    font-weight: 500;
    text-align: center;
}

.productDisplay h5{
    margin: 5px;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .LastAddedProductContainer{
        height: 100vh;
    }
    .productContainer{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .productDisplay{
        height: 175px;
    }
}
@keyframes openmodal{
    from{opacity: 0;}
    to{opacity: 1;}
}