.ShopCartOrderSummary{
    top: 0;
    left: 0;
    z-index: 115;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: zoomIn;
    animation-duration: .5s;
}
.ShopCartOrderSummary a {
    font-size: 25px;
    text-decoration: none;
    color: #4c4c4c;
    font-weight: 300;
}
.productDisplay{
    width: 85%;
    height: auto;
    display: flex;
    border-radius: 3px;
    border: 1px solid hsla(0, 0%, 30%, 0.1);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
}

.productDisplay button{
    width: 30px;
    height: 30px;
    background: #4c4c4c;
    border: none;
    color: #fafafa;
    outline: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border-radius: 3px;
    transition: .25s all ease-in-out;
}

.productDisplay button:hover{
    color: #4c4c4c;  
    background: #fafafa;
    border: 1px solid hsla(0, 0%, 30%, 0.75);
}

.productDisplay img {
    max-width: 40px;
    height: 40px;
}

.productDisplay span{
    font-size: 13px;
    width: 240px;
    text-align: left;
}

.ShopCartOptions{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid hsla(0, 0%, 30%, 0.1);
    margin-bottom: 10px;
}
.ShopCartOptions span{
    font-size: 12px;
    color: #4c4c4c;
    padding: 10px;
    text-align: center;
}
.ShopCartOptions button{
    border: none;
    outline: none;
    padding: 10px;
    font-size: 12px;
    color: #4c4c4c;
    background: none;
    cursor: pointer;
    border-radius: 3px;
}

.orderModal{
    overflow-y: auto;
    z-index: 106;
    position: fixed;
    padding: 20px;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    background: rgb(250, 250, 250);
    box-shadow: 0px 0px 10px #4c4c4c;
    animation: opacity;
    animation-duration: 1s;
    box-sizing: border-box;
}

.orderModal h4{
    font-weight: 400;
    text-align: center;
    padding: 10px;
}
.orderModal span{
    height: auto;
    text-align: center;
}

.orderModal button{
    display: none;
    border: none;
    outline: none;
    color: #4c4c4c;
    font-weight: 400;
    cursor: pointer;
    font-size: 20px;
    background: none;
    margin: 0 auto;
    transition: .25s all ease-in-out;
}
.orderModal button:hover{
    color: #4CAF50;
}
.Backdrop{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 106;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(250, 250, 250, 0.5);
    cursor: pointer;
}
.Backdrop button{
    border: none;
    outline: none;
    color: #4c4c4c;
    font-weight: 400;
    cursor: pointer;
    font-size: 35px;
    background: none;
    transition: .25s all ease-in-out;
}
.Backdrop button:hover{
    color: #4CAF50;
}

@media only screen and (max-width: 768px) {
    .Backdrop{
        height: 100%;
        width: 100%;
    }
    .Backdrop button{
        display: none;
    }
    .orderModal{
        width: 100%;
        height: 70%;
    }
    .orderModal button{
        display: block;
    }
    .ShopCartOptions{
        flex-direction: column;
        position: fixed;
        background: #fafafa;
    }
    .productDisplay{
        flex-direction: column;
        background-color: #e2e2e2;
    }
    .productDisplay img {
        padding: 8px;
    }
    .productDisplay:nth-child(1){
        margin-top: 220px;
    }
    .productDisplay span{
        text-align: center;
    }
}
@-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
@keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
}
  

@keyframes opacity{
    from{opacity: 0;}
    to{opacity: 1;}
}