.Footer{
    display: flex;
    height: 50vh;
    width: 100%;
    background: #fafafa;
    clear: both;
    padding: 10px;
    box-sizing: border-box;
    border-top: 1px solid hsla(0, 0%, 30%, 0.1);
    margin-bottom: 10vh;
}

.socialMedia{
    flex: 1;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.socialMedia ul li{
    list-style: none;
    margin: 5px;
    font-size: 20px;
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.socialMedia h2{
    font-weight: 400;
}


.Newsletter{
    flex: 1;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.Newsletter h2{
    font-weight: 400;
}

.NewsletterBox input{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    outline: none;
    color: #4c4c4c;
    padding-left: 10px;
    height: 30px;
    border-radius: 1px;
    font-size: 12px;
    border: none;
}

.NewsletterBox button{
    height: 30px;
    border: none;
    padding: 0px 10px;
    background: #4c4c4c;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1px;
    font-size: 12px;
}

.Links{
    flex: 1;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.Links ul li{
    list-style: none;
    margin: 5px;
    font-size: 20px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.Links h2{
    font-weight: 400;
}
@media only screen and (max-width: 768px) {
    .Footer{
        flex-direction: column;
        height: 100vh;
    }
}