.Footer{
    display: flex;
    height: 50vh;
    width: 100%;
    background: #fafafa;
    clear: both;
    padding: 10px;
    box-sizing: border-box;
    border-top: 1px solid hsla(0, 0%, 30%, 0.1);
    margin-bottom: 10vh;
}

.socialMedia{
    flex: 1;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.socialMedia ul li{
    list-style: none;
    margin: 5px;
    font-size: 20px;
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.socialMedia h2{
    font-weight: 400;
}


.Information{
    flex: 1;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.Information h2{
    font-weight: 400;
}


.Links{
    flex: 1;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.Links ul li{
    list-style: none;
    margin: 5px;
    font-size: 20px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.Links h2{
    font-weight: 400;
}
@media only screen and (max-width: 768px) {
    .Footer{
        flex-direction: column;
        height: 100vh;
    }
}