.Search input{
    height: 35px;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;   
    font-size: 12px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.Search button{
    padding: 5px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    text-transform: uppercase;
    background: rgb(76, 76, 76);
    border: none;
    color: white;
    outline: none;
    font-size: 12px;
    border-radius: 25px;
    position: relative;
    top: 1px;
    left: -20px;
}
.Search i{
    font-size: 15px;
}