.ShopCart i {
    font-size: 15px;
    color: #4c4c4c;
    padding: 10px;
}

.ShopCart a{
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #4c4c4c;
}
    